@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.process-section{
    text-align: center;
}

.processsectionheading{
    padding: 5% 0;
    /* background-color: black; */
}

.processsectionheading h2{
    display: inline;
    /* font-family: Nulshock; */
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 500;
    line-height: 1.0;
    text-align: center;
    /* text-underline-position: from-font; */
    /* text-decoration-skip-ink: none; */
    -webkit-text-stroke: 1px #050505;
    -webkit-text-fill-color: black;
}

.process-timeline {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    margin-bottom: 5rem;
}

.timeline-progress {
    z-index: 0;
    background-color: #e2d816;
    background-image: linear-gradient(to bottom,#8e2727, #c72020, #e26c12, #e6a707);
    width: 4px;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

/* .timeline-progress-bar {
    z-index: 0;
    background-color: #d0cd12;
    background-image: linear-gradient(to bottom,#5e0101, #c72020, #e26c12, #e6a707);
    width: 3px;
    height: 0;
    position: fixed;
    top: 0px;
    left: auto;
    right: auto
} */

.timeline-item {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 180px 1fr;
    grid-auto-columns: 1fr;
    padding-top: 20px;
    padding-bottom: 0px;
    display: grid;
    position: relative;
    top: 7rem;
}

.timeline_left {
    text-align: right;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
}

.sticky-text-left {
    position: sticky;
    top: 47.5vh;
}

.timeline-step-number-text {
    color: #a44c0d;
    letter-spacing: 0;
    text-transform: uppercase;
    padding-right: 0;
    font-family: "Oswald", sans-serif;
    font-size: 4em;
    font-weight: 500;
    line-height: 1.2;
    position: sticky;
    top: 47.5vh;
    text-align: right;
    z-index: 2;
}

.timeline-step-number {
    opacity: 1;
    color: #10100f;
    background: linear-gradient(to bottom right,#5e0101, #c72020, #e26c12, #e6a707);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow-wrap: normal;
    font-family: "Oswald", sans-serif;
    font-size: 7em;
    font-weight: 500;
    line-height: 180px;
    /* position: absolute; */
    top: -100%;
    bottom: -100%;
    left: 25%;
    right: auto;
    z-index: 1; 
}

.timeline-center {
    justify-content: center;
    display: flex;
}

.timeline-arrow {
    opacity: 1;
    /* background-color: rgb(233, 223, 223); */
    border-radius: 100%;
    width: 30px;
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    min-height: 20px;
    max-height: 0px;
    position: sticky;
    top: 52vh;
    /* box-shadow: 0 0 18px 8px rgba(249, 247, 247, 0.66); */
}

.timeline-arrow img {
    margin-top: -10px;
    margin-left: -1px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.timeline-right {
    padding-bottom: 20px;
}

.timeline-heading {
    text-align: left;
    margin-bottom: 17px;
    margin-top: 16px;
    font-weight: 600;
    color: #0f0b0b;
    font-family: "Nulshock";
    font-size: 2.5em;
    line-height: 1.3;
}

.timeline-image {
    background-image: none;
    background-position: 0 0;
    border-radius: 12px;
    overflow: visible;
}

.timeline-image-div {
    box-shadow: none;
    /* border-radius: 40px; */
    border-style: none;
    width: 80%;
    /* height: 400px; */
    contain: cover;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}

.timeline-image-div img {
    /* padding-left: 0; */
    /* padding-right: 20px; */
    /* border-radius: 40px; */
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
     height: 300px;
     width:460px;
    contain: cover;
}

.timeline-description {
    margin-bottom: 2px;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    font-size: 1.125rem;
    line-height: 150%;
    color: #0e0c0c;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

@media (max-width: 1200px){
    .timeline-step-number{
        font-size: 10em;
        left: 20%;
    }

    .timeline-step-number-text{
        font-size: 2.6em;
    }

    .timeline-item{
        grid-template-columns: 1fr 100px 1fr;
    }
}

@media (max-width: 992px){
    .processsectionheading {
        padding: 10% 0 10vh 0;
    }
    .timeline-step-number{
        font-size: 8em;
        left: 0;
    }

    .timeline-step-number-text{
        font-size: 2.6em;
    }
}

@media (max-width: 767px) {
    .processsectionheading {
        padding: 10% 0 10vh 0;
    }
    .timeline-progress {
        left: 25px;
    }

    .timeline-item {
        grid-template-columns: 64px 1fr;
        width: 100%;
        padding-top: 140px;
    }

    .timeline-left {
        text-align: left;
        grid-area: 1 / 2 / 2 / 3;
    }

    .sticky-text-left {
        position: relative;
        top: 0;
    }

    .timeline-step-number-text {
        margin-bottom: 24px;
        font-size: 2em;
        position: relative;
        top: 0;
        text-align: left;
    }

    .timeline-step-number {
        font-size: 8em;
        display: block;
        top: -489%;
        left: -2%;
    }

    .timeline-center {
        grid-area: 1 / 1 / 3 / 2;
        justify-content: flex-start;
    }

    .timeline-heading {
        font-size: 2em;
    }

    .timeline-description {
        margin-bottom: 6px;
        font-size: 1rem;
    }

    .timeline-arrow img{
        margin-left: 8px;
    }
}

@media (max-width: 479px) {
    .processsectionheading h2{
        -webkit-text-stroke: 0.7px #6e6e6e;
    }

    .timeline-item {
        grid-template-columns: 48px 1fr;
        padding-left: 20px;
        padding-right: 10px;
    }

    .timeline-left {
        grid-area: 1 / 2 / 2 / 3;
    }

    .timeline-step-number-text {
        font-size: 1.8em;
                    line-height: 1.4;
                }

    .timeline-step-number {
        font-size: 8em;
        display: block;
        top: -407%;
        left: -1%;
    }

    .timeline-center {
        margin-left: -11px;
    }

    .timeline-heading {
        text-align: left;
        font-size: 1.8em;
    }

    .timeline-description {
        margin-bottom: 8px;
        font-size: 0.9rem;
    }
    .timeline-image-div{
        width: 120%;
    }
    .timeline-arrow img{
        margin-left: 0px;
    }
}

@media (max-width: 425px){
    .timeline-arrow{
        min-width: 60px;
        max-width: 40px;
    }

    .timeline-arrow img{
        margin-left: 2px;
    }

    .timeline-heading {
        font-size: 1.5em;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .process-timeline {
        max-width: 90vw;
    }

    .timeline-item {
        grid-template-columns: minmax(0, 1fr) 120px minmax(0, 1fr);
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .timeline-center {
        justify-content: center;
    }

    .timeline-step-number {
        font-size: 7em;
        left: 15%;
        line-height: 120px;
    }

    .timeline-step-number-text {
        font-size: 2.5em;
    }

    .timeline-heading {
        font-size: 2em;
    }

    .timeline-description {
        font-size: 1rem;
    }

    .timeline-image-div {
        width: 90%;
    }
}